.card-holder{
    display: flex;
    margin-bottom: 20px;
    width: calc(100vw - 100px);
    height: 100%;
    border-radius: 5px;
    background-color: #13131375;
    backdrop-filter: blur(5px);
    padding: 14px 16px;
    flex-direction: column;
}
.weeekly-weather-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    background-color: #f8f8f859;
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 5px;
}
.weeekly-weather-holder .weekly-weather-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.temperature-title{
    color:#fff;
    width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
.temperature-index-wrapper{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    position: relative;
    /* margin:0 5%; */
}
.temperature-index{
    background-color: #fff;
    height: 15px;
    border-radius: 10px;
    margin:0 20px;
    box-shadow: 5px 0px 10px 2px #8a2be27d;
}

.temperature-index-back{
    width: 70%;
    background-color: #2e2838;
    position: absolute;
    height: 30px;
    left: 19%;
    border-radius: 15px;
    top: 13px;
}
.weekly-weather-body span{
    color: #fff;
}
.weekly-weather-body .title{
    color: #fff;
    text-align: center;
}
.weekly-weather-body .weather-body{
    display: flex;
    flex-direction: row;
}
.weekly-weather-body .weather-body .low-high,.weekly-weather-body .weather-body .rise-set{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.weekly-weather-body .weather-body .low-high .temperature{
    font-size: 24px;
}
.rise-set>div,.weekly-weather-body .weather-body .low-high>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.margin-right-10{
    margin-right:10px;
}