<div class="weather-card" *ngIf="hourly">
    <div class="clock" [@inOutAnimation] *ngIf="time">{{time.hour}}:{{time.minute}}:{{time.sec}}</div>
    <!-- <div class="current-temp" [@inOutAnimation] *ngIf="current">{{current.temperature | temperatureConverter:"C"}} °C</div> -->
    <div class="weather-location" [@fadeInAnimation]>{{currentLocation}}</div>
    <div class="weather-summary" [@fadeInAnimation]>{{hourly.summary}}</div>

    <app-uvindex></app-uvindex>

    <app-hourlyweather [hourly]="hourly.data"></app-hourlyweather>

</div>