<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
  }
  body{

  }
  .content{
    width: 100%;
    height: 100vh;
    margin:0 auto;
    /* background: linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192)); */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  #bgwrap {
    position:fixed;
    left:0;top:0;right:0;bottom:0;
    overflow: visible;
    z-index:-1;
  }
  #bg {
      position:absolute;
      left:0;top:0;width:100%;height:100%;
      padding:0;margin:0;
      border-radius: 50%;
      background: linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192)); ;
      animation: spin 5s linear infinite;
      -moz-animation: spin 5s linear infinite;
      -webkit-animation: spin 5s linear infinite;
      -ms-animation: spin 5s linear infinite;
  }

  @keyframes spin {
    from { transform: scale3d(2,2,1) rotateZ(0deg);  }
    to { transform: scale3d(2,2,1) rotateZ(360deg); }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
  .card{
    display: flex;
    height: 120px;
    color: #fff;
    border-radius: 5px;
    background-color: #13131375;
    backdrop-filter: blur(5px);
    padding: 14px 16px;
  }
  .card .card-title{
    color:#fff;
  }


</style>
<div id="bgwrap"><div id="bg"></div></div>
<app-bg></app-bg>
<div class="content" role="main">
  <app-weather></app-weather>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
