.add{
    background-color:#8a2be28a;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.3s all;
    position: absolute;
    right: 10px;
    top: 10px;
}
.add:hover{
    scale: 1.1;
    background-color:#8a2be2;
    box-shadow: -1px 1px 12px 1px #8a2be2;
}
.add::after{
    content: "";
    width: 50%;
    height: 3px;
    color: #fff;
    background: #ffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 16px;
}
.add::before{
    content: "";
    width: 3px;
    height: 0%;
    color: #fff;
    background: #ffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 16px;
    transition: 0.3s all;
}
.add.expand::before{
    content: "";
    width: 3px;
    height: 50%;
    color: #fff;
    background: #ffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 16px;
}
